.news-paragraph {
  color: rgba(0, 0, 0, 0.5);
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
  transition: .2s;
}

.news-paragraph:hover {
    color: black;
}