.Greeting {
  width: 100%;
  background-color: white;
}

.greeting-text {
  color: black;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 4.5em;
  padding-left: 16px;
  text-transform: uppercase;
}

.input-container {
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin-left: 5vw;
}

.greeting-input {
  border: none;
  color: black;
  background-color: transparent;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 4.5em;
  width: -webkit-fill-available;
  margin-top: -18px;
  transition: .2s;
  padding-bottom: 6px;
}

.greeting-input::placeholder {
    color: rgba(0, 0, 0, 0.4);
    transition: .2s;
}

.greeting-input:hover::placeholder {
    color: black;
}

.greeting-input:focus {
  outline: none;
}

.input-underline {
  transition: all 0.5s;
  display: inline-block;
  bottom: 0;
  left: -100%;
  position: absolute;
  width: 50%;
  height: 4px;
  background-color: black;
  margin-bottom: 4px;
}

.input-container > .greeting-input:focus + .input-underline {
  left: 0;
}

@media only screen and (max-width: 910px) {
  .greeting-text,
  .greeting-input {
      font-size: 4em;
  }
}

@media only screen and (max-width: 813px) {
  .greeting-text,
  .greeting-input {
      font-size: 3.5em;
  }
}