.Image {
    width: 100%;
    height: 100%;
    position: relative;
}

.image-background {
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
}

.image-author {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  position: absolute;
  left: 3px;
  bottom: 3px;
  z-index: 2;
}
