.container {
  display: flex;
  position: relative;
  padding: .8vw;
  height: 100vh;
  overflow: hidden;
}

.image-container {
  width: 67vw;
}

.info-container {
display: grid;
grid-template-columns: 13vw 30vw;
grid-template-rows: 10vh 29.5vh 40vh 8vh 9vh;
position: absolute;
right: 0;
z-index: 1;
padding-right: 1vw;
}

.background {
  grid-area: 1 / 2 / 6 / 3; 
}

.info-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8px 0 8px;
  margin-top: 4px;
  margin-bottom: 16px;
  grid-area: 1 / 2 / 2 / 3;
}

.greeting-container {
  grid-area: 2 / 1 / 3 / 3;
}

.news-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  grid-area: 3 / 2 / 4 / 3;
  padding: 0 16px 0 16px;
}

.search-container {
    display: flex;
    grid-area: 4 / 2 / 5 / 3;
    padding: 0 16px 0 16px;
}

.quote-container {
  grid-area: 5 / 2 / 6 / 3;
  padding: 0 16px 0 16px;
  align-self: end;
}