.searchform-container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.search-icon {
    width: 18px;
    height: 18px;
    margin-right: -20px;
    position: relative;
    opacity: .2;
    transition: .3s;
}

.search-input {
    border: none;
    color: black;
    border-bottom: 2px solid rgba(0, 0, 0, 0);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    padding: 8px 0 4px 28px;
    max-width: 250px;
    width: 250px;
    transition: .3s;
}

.search-input:hover {
    cursor: pointer;
    border-bottom: 2px solid rgba(0, 0, 0, 0.09);
}

.search-input:focus {
  cursor: text;
  outline: none;
  border-bottom: 2px solid rgba(0, 0, 0, 0.6);
}

.search-input:focus ~ .search-icon { 
    opacity: 1; 
}

.search-input::placeholder {
    color: rgba(0, 0, 0, 0.09);
}
